services:
  activemq:
    image: rmohr/activemq:latest
    restart: unless-stopped
    ports:
      - "8162:8161"
      - "61616:61616"

  lb:
    image: nginx:alpine
    restart: unless-stopped
    ports:
      - "18080:80"
    volumes:
      - ./.runtime/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
