services:
  ingestion:
    build: ./ingestion-service
    ports:
      - "7001:7001"
    volumes:
      - ingestion_datalake:/app/datalake
    command:
      - java
      - -jar
      - /app/app.jar
      - --port=7001
      - --mq=tcp://activemq:61616
      - --indexingQueue=ingestion.ingested
      - --origin=http://ingestion:7001
      - --replFactor=2
    restart: unless-stopped

  indexing:
    build: ./indexing-service
    ports:
      - "7002:7002"
    command:
      - java
      - -jar
      - /app/app.jar
      - --port=7002
      - --mq=tcp://activemq:61616
      - --ingestion=http://ingestion:7001
      - --hzCluster=bd-hz
      - --hzMembers=indexing,search
    restart: unless-stopped

  search:
    build: ./search-service
    depends_on:
      - indexing
    expose:
      - "7003"
    command:
      - java
      - -jar
      - /app/app.jar
      - --port=7003
      - --hzCluster=bd-hz
      - --hzMembers=indexing,search
    restart: unless-stopped

volumes:
  ingestion_datalake:
