services:
  lb:
    image: nginx:alpine
    container_name: search-lb
    ports:
      - "18080:80"
    volumes:
      - ./infra/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - search
