services:
  ingestion:
    build: ./ingestion-service
    container_name: ingestion
    ports:
      - "7001:7001"
    depends_on:
      - activemq
    volumes:
      - ingestion_datalake:/app/datalake
    command:
      - java
      - -jar
      - /app/app.jar
      - --port=7001
      - --mq=tcp://activemq:61616
      - --indexingQueue=ingestion.ingested
      - --origin=http://ingestion:7001
      - --replFactor=${REPL_FACTOR:-2}
    restart: unless-stopped

  indexing:
    build: ./indexing-service
    container_name: indexing
    ports:
      - "7002:7002"
    depends_on:
      - activemq
    command:
      - java
      - -jar
      - /app/app.jar
      - --port=7002
      - --mq=tcp://activemq:61616
      - --ingestion=http://ingestion:7001
      - --hzCluster=bd-hz
      - --hzMembers=${HZ_MEMBERS:-indexing,search}
    restart: unless-stopped

  search:
    build: ./search-service
    depends_on:
      - indexing
    expose:
      - "7003"
    command:
      - java
      - -jar
      - /app/app.jar
      - --port=7003
      - --hzCluster=bd-hz
      - --hzMembers=${HZ_MEMBERS:-indexing,search}
    restart: unless-stopped

  activemq:
    image: rmohr/activemq:latest
    container_name: activemq
    restart: unless-stopped
    ports:
      - "61616:61616"
      - "8161:8161"
    environment:
      - ACTIVEMQ_ADMIN_LOGIN=admin
      - ACTIVEMQ_ADMIN_PASSWORD=admin

volumes:
  ingestion_datalake:
